{% extends "sampleapp/base.html" %}
{% block content %}
    {% for post in posts %}
        <article class="media content-section">
          <img class="rounded-circle article-img" src="{{post.author.profile.image.url}}">
          <div class="media-body">
            <h2><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h2>
              <p class="article-content"><b>INFO</b>  :{{ post.content }}</p>
              <p class="article-contact"><b>CONTACT</b> :  {{post.contact}}</p>
          </div>
        </article>
    {% endfor %}
{% endblock content %}